/*! bulma.io v0.6.0 | MIT License | github.com/jgthms/bulma */
.bd-tw-button {
  background-color: #55acee;
  color: white;
  border-color: transparent !important;
}

.bd-tw-button:hover {
  background-color: #49a6ed;
  color: white;
}

.bd-tw-button:active, .bd-tw-button:focus {
  background-color: #3ea1ec;
  color: white;
}

@media screen and (min-width: 1024px) {
  #blogDropdown {
    width: 17rem;
  }
  #blogDropdown .navbar-item {
    white-space: normal;
  }
  #moreDropdown {
    width: 16rem;
  }
  #moreDropdown .navbar-item {
    padding-right: 1rem;
  }
  #moreDropdown .navbar-item .level {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#about .twitter-container {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}

#about small {
  display: block;
  margin-top: 5px;
}

#mc_embed_signup .field {
  margin-bottom: 0;
}

#mc_embed_signup .notification {
  margin-top: 0.75rem;
}

#share form {
  height: 30px;
  margin-top: 10px;
}

#social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#social > iframe,
#social > a,
#social > form,
#social > div {
  display: inline-block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}

#social .github-btn {
  width: 160px;
}

#social .twitter-share-button {
  margin-right: 10px;
  min-width: 76px;
}

#social .paypal-form {
  min-width: 148px;
}

#social .fb-like {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
}

#newsletter .input {
  border-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#sister ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sister li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 5px 1rem 0 0;
}

#sister img {
  height: 30px;
}

#tsp small {
  display: block;
}

#alternative {
  font-size: 0.875rem;
}

#alternative a {
  color: #7a7a7a;
}

#alternative a:hover {
  text-decoration: underline;
}

#images tr td:nth-child(2) {
  width: 320px;
}

.bd-color {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  float: left;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.button.bd-is-rss {
  background-color: #f26522;
  border-color: transparent;
  color: #fff;
}

.button.bd-is-rss:hover {
  background-color: #ed560e;
}

.button.bd-is-rss:active {
  background-color: #d54d0d;
}

.bd-view-all-versions {
  color: #7a7a7a;
}

.bd-view-all-versions:hover {
  text-decoration: underline;
}

.bd-feature-title {
  color: #7a7a7a;
}

.bd-feature-title a {
  border-bottom: 1px solid transparent;
  color: #363636;
}

.bd-feature-title a:hover {
  border-bottom-color: #00d1b2;
}

.bd-anchor-title {
  padding-top: 1.5rem;
  position: relative;
}

@media screen and (max-width: 1215px) {
  .bd-anchor-title {
    padding-left: 2rem;
  }
}

.bd-anchor-link {
  position: absolute;
  right: calc(100% + 1rem);
}

@media screen and (max-width: 1215px) {
  .bd-anchor-link {
    left: 0;
    right: auto;
  }
}

.bd-article-image {
  background-color: #00d1b2;
  display: block;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.bd-article-image.is-white {
  background-color: white;
}

.bd-article-image.is-black {
  background-color: #0a0a0a;
}

.bd-article-image.is-light {
  background-color: whitesmoke;
}

.bd-article-image.is-dark {
  background-color: #363636;
}

.bd-article-image.is-primary {
  background-color: #00d1b2;
}

.bd-article-image.is-link {
  background-color: #3273dc;
}

.bd-article-image.is-info {
  background-color: #209cee;
}

.bd-article-image.is-success {
  background-color: #23d160;
}

.bd-article-image.is-warning {
  background-color: #ffdd57;
}

.bd-article-image.is-danger {
  background-color: #ff3860;
}

.bd-article-image.is-bootstrap {
  background-color: #6f5499;
}

.bd-article-image.is-orange {
  background-color: #ff470f;
}

.bd-article-image:hover .bd-article-overlay {
  opacity: 0.25;
}

.bd-article-image:hover .bd-article-icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.bd-article-image:hover .bd-article-date {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.bd-article-image:hover .bd-article-title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bd-article-image.is-single {
  margin-bottom: 2rem;
  width: 100%;
}

.bd-article-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0a0a0a;
  opacity: 0;
  -webkit-transition-duration: 86ms;
          transition-duration: 86ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.bd-article-icon,
.bd-article-info {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bd-article-icon,
.bd-article-date,
.bd-article-title {
  -webkit-transition-duration: 86ms;
          transition-duration: 86ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.bd-article-icon {
  color: #0a0a0a;
  opacity: 0.25;
}

.bd-article-icon > span {
  display: block;
}

.bd-article-icon .fa {
  font-size: 56px;
}

.bd-article-info {
  padding: 20px;
}

.bd-article-date {
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

.bd-article-title {
  color: white;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 0 20px;
}

.bd-emoji {
  margin-right: 0.5em;
  margin-top: 2px;
}

.bd-notification {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}

.bd-notification .title,
.bd-notification .subtitle,
.bd-notification .content,
.bd-notification strong {
  color: currentColor;
}

.bd-notification code,
.bd-notification pre {
  background: white;
}

.bd-notification pre code {
  background: transparent;
}

.bd-notification.is-white {
  background-color: white;
  color: #0a0a0a;
}

.bd-notification.is-black {
  background-color: #0a0a0a;
  color: white;
}

.bd-notification.is-light {
  background-color: whitesmoke;
  color: #363636;
}

.bd-notification.is-dark {
  background-color: #363636;
  color: whitesmoke;
}

.bd-notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.bd-notification.is-link {
  background-color: #3273dc;
  color: #fff;
}

.bd-notification.is-info {
  background-color: #209cee;
  color: #fff;
}

.bd-notification.is-success {
  background-color: #23d160;
  color: #fff;
}

.bd-notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.bd-notification.is-danger {
  background-color: #ff3860;
  color: #fff;
}

.bd-icon-size .icon {
  background-color: #ffdd57;
}

.bd-example,
.bd-structure,
.bd-snippet {
  border: 1px solid #ffdd57;
  position: relative;
}

.bd-example:before,
.bd-structure:before,
.bd-snippet:before {
  background: #ffdd57;
  border-radius: 3px 3px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  left: -1px;
  letter-spacing: 1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

@media screen and (min-width: 769px), print {
  .bd-example.is-fullwidth,
  .bd-structure.is-fullwidth,
  .bd-snippet.is-fullwidth {
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

.bd-example,
.bd-structure {
  padding: 1.5rem;
}

.bd-example:not(:first-child),
.bd-structure:not(:first-child) {
  margin-top: 2rem;
}

.bd-example:not(:last-child),
.bd-structure:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-example.bd-is-clipped {
  border-top-right-radius: 5px;
}

.bd-example + .highlight {
  border: 1px solid #ffdd57;
  border-radius: 0 0 3px 3px;
  border-top: none;
  margin-top: -1.5rem;
}

.bd-example + .highlight:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-snippet {
  border: 1px solid #ffdd57;
  margin-top: 2rem;
  position: relative;
}

.bd-snippet:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-snippet::before {
  content: "Snippet";
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bd-snippet-preview {
  padding: 1.5rem;
}

.bd-snippet-code {
  background-color: whitesmoke;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight {
  height: 2em;
  overflow: hidden;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight pre {
  overflow: hidden;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight .bd-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bd-snippet.bd-is-horizontal {
  border-radius: 5px;
  border-top-left-radius: 0;
}

.bd-snippet.bd-is-horizontal .bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight pre {
  padding-top: 0.325rem;
}

.bd-snippet.bd-is-clipped .bd-snippet-code {
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .bd-snippet.bd-is-vertical {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 5px;
    border-top-left-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-preview,
  .bd-snippet.bd-is-vertical .bd-snippet-code {
    width: 50%;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 0 5px 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight .language-html {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre {
    white-space: pre;
  }
  .bd-snippet.bd-is-vertical.bd-is-one-third .bd-snippet-preview {
    width: 33.3333%;
  }
  .bd-snippet.bd-is-vertical.bd-is-one-third .bd-snippet-code {
    width: 66.6666%;
  }
}

.highlight.bd-is-hovering {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 2px #ffdd57;
          box-shadow: 0 0 0 2px #ffdd57;
}

.highlight pre {
  max-height: 320px;
  margin-bottom: 0 !important;
}

.highlight-full:not(:last-child),
#navbarJsExample:not(:last-child) {
  margin-bottom: 1.5rem;
}

.highlight-full .highlight pre,
#navbarJsExample .highlight pre {
  max-height: none;
}

.bd-structure {
  border-color: #ff3860;
  border-radius: 3px;
  padding: 1.5rem;
}

.bd-structure:before {
  background: #ff3860;
  color: #fff;
  content: "Structure";
}

.bd-structure-item {
  position: relative;
}

.bd-structure-item:before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(10, 10, 10, 0.7);
  background: whitesmoke;
  border: 1px solid #dbdbdb;
  content: "";
  display: block;
  z-index: 1;
}

.bd-structure-item:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  font-size: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 5px;
  z-index: 2;
}

.bd-structure-item.bd-is-structure-container {
  padding: 1.5rem 0.75rem 0.75rem;
}

.bd-structure-item.bd-is-structure-container:after {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem 0.75rem;
}

.highlight {
  position: relative;
}

.highlight .bd-copy,
.highlight .bd-expand {
  background: none;
  border: none;
  color: #4a4a4a;
  cursor: pointer;
  font-size: 0.625rem;
  outline: none;
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.highlight .bd-copy:hover,
.highlight .bd-expand:hover {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.highlight .bd-copy:focus, .highlight .bd-copy:active,
.highlight .bd-expand:focus,
.highlight .bd-expand:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.highlight .bd-expand {
  right: 45px;
}

.highlight .bd-show {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 245, 245, 0.7);
  border: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  font-size: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.highlight .bd-show strong {
  color: currentColor;
  font-weight: 600;
}

.highlight .bd-show:hover {
  background-color: rgba(255, 221, 87, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 769px), print {
  .highlight pre {
    white-space: pre-wrap;
  }
}

@media screen and (min-width: 769px), print {
  .section:not(.is-fullwidth) > .bd-example:not(.is-fullwidth) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .section:not(.is-fullwidth) > .bd-example:not(.is-fullwidth) + .highlight {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.section.is-fullwidth {
  padding: 0 !important;
}

.section.is-fullwidth .bd-snippet {
  border-left: none;
  border-radius: 0;
  border-right: none;
}

.section.is-fullwidth .bd-example {
  border-left: none;
  border-radius: 0;
  border-right: none;
  padding: 0;
}

.section.is-fullwidth .bd-example + .highlight {
  border-left: none;
  border-radius: 0;
  border-right: none;
}

.bd-callout {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

.bd-callout:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-callout.is-white {
  background-color: white;
  color: #0a0a0a;
}

.bd-callout.is-black {
  background-color: #0a0a0a;
  color: white;
}

.bd-callout.is-light {
  background-color: whitesmoke;
  color: #363636;
}

.bd-callout.is-dark {
  background-color: #363636;
  color: whitesmoke;
}

.bd-callout.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.bd-callout.is-link {
  background-color: #3273dc;
  color: #fff;
}

.bd-callout.is-info {
  background-color: #209cee;
  color: #fff;
}

.bd-callout.is-success {
  background-color: #23d160;
  color: #fff;
}

.bd-callout.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.bd-callout.is-danger {
  background-color: #ff3860;
  color: #fff;
}

.bsa {
  padding: 2rem;
}

.bsa-cpc {
  min-height: 1px;
}

#_default_ .default-ad {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 0 4px;
  text-transform: uppercase;
  vertical-align: top;
}

#_default_ > a {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  line-height: 1.375;
  margin-top: 15px;
  min-height: 70px;
  padding: 15px;
  padding-left: 70px;
  position: relative;
}

#_default_ > a:hover, #_default_ > a:focus {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
}

#_default_ > a:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
}

#_default_ > a span {
  display: block;
}

#_default_ > a .default-image {
  display: block;
  left: 15px;
  height: 40px;
  position: absolute;
  top: 15px;
  width: 40px;
}

#_default_ > a .default-image img {
  display: block;
  height: 40px;
  width: 40px;
}

#_default_ > a .default-title {
  color: #363636;
  display: inline;
  font-weight: 700;
}

#_default_ > a .default-title:after {
  content: " — ";
}

#_default_ > a .default-description {
  display: inline;
}

@media screen and (min-width: 769px), print {
  .bsa .columns {
    min-height: 120px;
  }
  #_default_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  #_default_ .default-ad {
    left: 100%;
    margin-left: 2rem;
    position: absolute;
    top: 0;
  }
  #_default_ > a {
    margin: 0;
    width: calc(50% - 1rem);
  }
  #_default_ > a:not(:nth-child(2)) {
    margin-left: 2rem;
  }
}

html.route-index .title.is-2 {
  position: relative;
}

html.route-index .title.is-2 a {
  color: #363636;
  position: relative;
}

html.route-index .title.is-2 a:hover {
  color: #3273dc;
}

html.route-index .title.is-2 .icon.is-medium {
  left: -80px;
  opacity: 0.1;
  position: absolute;
  top: 10px;
}

html.route-index .title.is-2 .icon.is-medium .fa {
  font-size: 56px;
}

html.route-index .hero .title.is-2 a {
  color: white;
}

html.route-index .hero .title.is-2 a:hover {
  color: white;
}

html.route-index .hero.is-primary a.column,
html.route-index .hero.is-primary a.column:hover {
  color: white;
}

html.route-index .hero.is-primary a.column:hover .title strong {
  border-bottom: 1px solid;
}

@media screen and (max-width: 979px) {
  html.route-index .title.is-2 a {
    padding-left: 0;
  }
  html.route-index .title.is-2 .icon.is-medium {
    display: none;
  }
}

.bd-tws-home {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  padding: 20px;
}

.bd-tw {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  color: #697882;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  padding: 20px;
}

.bd-tw-header {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bd-tw-author {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1c2022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.2;
}

.bd-tw-author:hover {
  color: #2b7bb9;
}

.bd-tw-avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 36px;
  margin-right: 9px;
  width: 36px;
}

.bd-tw-avatar img {
  border-radius: 290486px;
  display: block;
  height: 36px;
  width: 36px;
}

.bd-tw-fullname {
  color: currentColor;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.bd-tw-username {
  color: #697882;
  display: block;
  font-size: 14px;
}

.bd-tw-content {
  color: #1c2022;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 14px;
}

.bd-tw-content a {
  color: #2b7bb9;
}

.bd-tw-content .Emoji {
  height: 1.25em;
  padding: 0 .05em 0 .1em;
  vertical-align: -.2em;
  width: 1.25em;
}

.bd-tw-date {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 3.2px;
}

.bd-tw-date a {
  color: #697882;
}

.bd-tw-date a:hover {
  color: #2b7bb9;
}

.Tweet-actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8.4px;
}

.Tweet-action {
  margin-right: 1.25rem;
}

.TweetAction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  min-width: 24px;
}

.TweetAction:hover .Icon--replyEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%231DA1F2%22%20d%3D%22M14.046%202.242l-4.148-.01h-.002c-4.374%200-7.8%203.427-7.8%207.802%200%204.098%203.186%207.206%207.465%207.37v3.828c0%20.108.045.286.12.403.143.225.385.347.633.347.138%200%20.277-.038.402-.118.264-.168%206.473-4.14%208.088-5.506%201.902-1.61%203.04-3.97%203.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787%2012.972c-1.134.96-4.862%203.405-6.772%204.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66%200-6.318-2.476-6.318-5.886%200-3.534%202.768-6.302%206.3-6.302l4.147.01h.002c3.532%200%206.3%202.766%206.302%206.296-.003%201.91-.942%203.844-2.514%205.176z%22%2F%3E%3C%2Fsvg%3E);
}

.TweetAction:hover .Icon--retweetEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%2317BF63%22%20d%3D%22M23.77%2015.67c-.292-.293-.767-.293-1.06%200l-2.22%202.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414%200-.75.336-.75.75s.336.75.75.75h5.85c1.24%200%202.25%201.01%202.25%202.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06%200s-.294.768%200%201.06l3.5%203.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767%200-1.06zm-10.66%203.28H7.26c-1.24%200-2.25-1.01-2.25-2.25V6.46l2.22%202.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768%200-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06%200l-3.5%203.5c-.294.292-.294.767%200%201.06s.767.293%201.06%200l2.22-2.22V16.7c0%202.068%201.683%203.75%203.75%203.75h5.85c.414%200%20.75-.336.75-.75s-.337-.75-.75-.75z%22%2F%3E%3C%2Fsvg%3E);
}

.TweetAction:hover .Icon--heartEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23E0245E%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
}

.Tweet-action--retweet:hover .TweetAction-stat {
  color: #17BF63;
}

.Tweet-action--heart:hover .TweetAction-stat {
  color: #E0245E;
}

.TweetAction-icon {
  background-size: contain;
  height: 20px;
  width: 20px;
}

.TweetAction-stat {
  color: #697882;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 1px;
}

.Icon--replyEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23657786%22%20d%3D%22M14.046%202.242l-4.148-.01h-.002c-4.374%200-7.8%203.427-7.8%207.802%200%204.098%203.186%207.206%207.465%207.37v3.828c0%20.108.045.286.12.403.143.225.385.347.633.347.138%200%20.277-.038.402-.118.264-.168%206.473-4.14%208.088-5.506%201.902-1.61%203.04-3.97%203.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787%2012.972c-1.134.96-4.862%203.405-6.772%204.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66%200-6.318-2.476-6.318-5.886%200-3.534%202.768-6.302%206.3-6.302l4.147.01h.002c3.532%200%206.3%202.766%206.302%206.296-.003%201.91-.942%203.844-2.514%205.176z%22%2F%3E%3C%2Fsvg%3E);
}

.Icon--retweetEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23657786%22%20d%3D%22M23.77%2015.67c-.292-.293-.767-.293-1.06%200l-2.22%202.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414%200-.75.336-.75.75s.336.75.75.75h5.85c1.24%200%202.25%201.01%202.25%202.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06%200s-.294.768%200%201.06l3.5%203.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767%200-1.06zm-10.66%203.28H7.26c-1.24%200-2.25-1.01-2.25-2.25V6.46l2.22%202.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768%200-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06%200l-3.5%203.5c-.294.292-.294.767%200%201.06s.767.293%201.06%200l2.22-2.22V16.7c0%202.068%201.683%203.75%203.75%203.75h5.85c.414%200%20.75-.336.75-.75s-.337-.75-.75-.75z%22%2F%3E%3C%2Fsvg%3E);
}

.Icon--heartEdge {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23657786%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
}

@media screen and (max-width: 768px) {
  .bd-tws-home {
    padding: 1.5rem;
  }
  .bd-tws-home .bd-tw:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 769px), print {
  .bd-tws-home {
    padding: 3rem;
  }
  .bd-tws-home .bd-tw + .bd-tw {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .bd-tws-love .bd-tw:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-tws-home {
    min-height: 595px;
  }
  .bd-tws-love {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -0.75rem;
  }
  .bd-tws-love .bd-tw {
    margin: 0.75rem;
    width: calc(33.3333% - 1.5rem);
  }
}

@media screen and (min-width: 1216px) {
  .bd-tws-home {
    min-height: 653px;
  }
}

@media screen and (min-width: 1408px) {
  .bd-tws-home {
    min-height: 632px;
  }
}

.twitter-tweet:not(.twitter-tweet-rendered) {
  background-color: white;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  color: #697882;
  font-size: 14px;
  padding: 20px 20px 11.6px;
}

.twitter-tweet:not(.twitter-tweet-rendered) a {
  color: currentColor;
}

.twitter-tweet:not(.twitter-tweet-rendered) a:hover {
  text-decoration: underline;
}

.twitter-tweet:not(.twitter-tweet-rendered) p {
  color: #1c2022;
  font-size: 16px;
  margin-bottom: 3.2px;
}

.twitter-tweet:not(.twitter-tweet-rendered) p a {
  color: #2b7bb9;
}

.twitter-tweet-rendered {
  border: none;
  border-radius: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.bd-expo {
  background-color: whitesmoke;
  padding: 1.5rem;
}

.bd-website {
  display: block;
  position: relative;
  text-align: center;
}

.bd-website:last-child {
  margin-bottom: 0;
}

.bd-website-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.bd-website-image:hover .bd-website-shadow {
  opacity: 0;
}

.bd-website-image:hover .bd-website-overlay {
  opacity: 0.25;
}

.bd-website-image .b-lazy {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.bd-website-image .b-loaded {
  opacity: 1;
}

.bd-website-shadow {
  border: 1px solid rgba(0, 0, 0, 0.04);
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.bd-website-overlay {
  background-color: #0a0a0a;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

@media screen and (max-width: 768px) {
  .bd-website:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 769px), print {
  .bd-expo {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .bd-websites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bd-website {
    margin-top: 3rem;
    width: calc(50% - 3rem);
  }
  .bd-website:nth-child(1), .bd-website:nth-child(2) {
    margin-top: 0;
  }
  .bd-website.bd-is-highlighted {
    width: 100%;
  }
  .bd-website-image {
    margin-bottom: 3rem;
  }
}

.bd-love {
  background-color: whitesmoke;
}

.bd-testimonials {
  background-color: whitesmoke;
}

.bd-testimonial {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bd-testimonial-tweet {
  background-color: white;
}

.bd-more-loves {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  text-align: center;
}

.bd-more-loves .button {
  height: auto;
  padding: 0.75em 1.5em;
}

.bd-more-loves .button span {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 86ms ease-out;
  transition: -webkit-transform 86ms ease-out;
  transition: transform 86ms ease-out;
  transition: transform 86ms ease-out, -webkit-transform 86ms ease-out;
}

.bd-more-loves .button:hover span {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media screen and (max-width: 768px) {
  .bd-testimonials {
    padding: 1.5rem;
  }
  .bd-testimonial {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 769px), print {
  .bd-testimonials {
    padding: 3rem;
  }
  .bd-testimonial + .bd-testimonial {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-testimonials {
    min-height: 595px;
  }
}

@media screen and (min-width: 1216px) {
  .bd-testimonials {
    min-height: 653px;
  }
}

@media screen and (min-width: 1408px) {
  .bd-testimonials {
    min-height: 632px;
  }
}

.bd-rainbow {
  -webkit-animation: rainbow 8s ease infinite;
          animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
}

.hero.bd-is-love .title,
.hero.bd-is-love .subtitle {
  color: white;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}

.bd-hug {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .bd-love {
    padding: 1.5rem;
  }
  .bd-hug {
    margin: 1.5rem;
  }
  .bd-embrace {
    text-align: center;
  }
  .bd-embrace:not(:first-child) {
    margin-top: 1.5rem;
  }
  .bd-embrace:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .bd-embrace-button {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 769px), print {
  .bd-love {
    padding: 3rem 1.5rem;
  }
  .bd-embrace {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bd-embrace:not(:first-child) {
    margin-top: 3rem;
  }
  .bd-embrace:not(:last-child) {
    margin-bottom: 3rem;
  }
  .bd-embrace-button {
    margin-left: 1.5rem;
  }
  .bd-hugs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  .bd-hug {
    margin-top: 1.5rem;
    width: calc(33.3333% - 1rem);
  }
  .bd-hug:nth-child(1), .bd-hug:nth-child(2), .bd-hug:nth-child(3) {
    margin-top: 0;
  }
  .bd-hug:nth-child(3n-1), .bd-hug:nth-child(3n) {
    margin-left: 1.5rem;
  }
}

.bd-bootstrap .hero {
  background-color: #6f5499;
  color: #fff;
}

.bd-bootstrap .hero .title,
.bd-bootstrap .hero .subtitle {
  color: currentColor;
}

.bd-bootstrap .hero .subtitle {
  color: rgba(255, 255, 255, 0.5);
}

.bd-bootstrap .hero .subtitle a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
}

.bd-bootstrap .hero .subtitle a:hover {
  color: #fff;
}

.bd-pros-heading {
  padding: 0 2rem;
  text-align: center;
}

.bd-pros-icon {
  margin-bottom: 3rem;
  text-align: center;
}

.bd-pros-icon svg {
  height: 3rem;
  width: auto;
}

.bd-pros-list {
  margin: 0 auto;
  max-width: 540px;
}

.bd-pro .icon {
  position: relative;
  top: -1px;
}

.bd-pro .title {
  margin-bottom: 0.5rem;
}

.bd-pro + .pro {
  margin-top: 2rem;
  padding-top: 2rem;
}

.bd-pro-content p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.bd-pro.bd-is-bulma .icon {
  color: #00d1b2;
}

.bd-pro.bd-is-bootstrap .icon {
  color: #6f5499;
}

.bd-separator {
  color: #dbdbdb;
  margin: 0 0.25em;
}

.bd-comparison {
  margin: 0 auto;
  max-width: 42rem;
}

.bd-comparison .table {
  color: #ff3860;
}

.bd-comparison .table thead th,
.bd-comparison .table tfoot th {
  font-size: 1.5rem;
  text-align: center;
}

.bd-comparison .table thead svg,
.bd-comparison .table tfoot svg {
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  top: 0.25rem;
  width: auto;
}

.bd-comparison .table tbody th {
  font-size: 1.25rem;
  text-align: center;
}

.bd-comparison .table tbody td {
  font-family: monospace;
  width: 50%;
}

.bd-comparison .table tbody a {
  color: currentColor;
}

.bd-comparison .table tbody a:hover {
  text-decoration: underline;
}

.bd-comparison .table .bd-is-empty {
  background-color: whitesmoke;
  color: #7a7a7a;
}

.bd-comparison .table .bd-is-unique {
  background-color: rgba(35, 209, 96, 0.25);
  color: #363636;
  font-weight: 700;
}

.bd-comparison-header {
  margin-bottom: 3rem;
}

.bd-klmn {
  margin-bottom: 1.5rem;
}

.bd-klmn-gaps {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.25rem;
}

.bd-klmn-label {
  margin: 0.25rem auto 0.25rem 0;
}

.bd-klmn-gap {
  background-color: whitesmoke;
  border-radius: 3px;
  color: #ff3860;
  font-family: monospace;
  font-size: 0.75rem;
  margin: 0.25rem 0 0.25rem 0.5rem;
  padding: 0.375em 0.75em;
  text-align: center;
  vertical-align: middle !important;
  white-space: nowrap;
}

.bd-klmn-gap.bd-is-selected {
  background-color: #23d160;
  color: white;
}

.bd-klmn-columns:last-child .bd-notification {
  font-size: 0.75rem;
  white-space: nowrap;
}